.score-counter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-3);
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.score-heading {
    margin-top: 15px;
    margin-bottom: 5px;
    font-family: var(--main-font);
    font-size: clamp(16px, 1.5vw, 30px);
    color: var(--color-4);
}

.score-number {
    margin-top: 5px;
    font-family: var(--main-font);
    font-size: clamp(12px, 1vw, 20px);
    color: var(--color-4);
    font-weight: 600;
}